.fancy-tabs .et_pb_tabs_controls {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: transparent;
}

.fancy-tabs .et_pb_tabs_controls li {
  flex-basis: 150px;
  flex-shrink: 0;
  flex-grow: 0;
  height: 150px !important;
  border: none !important;
}

.fancy-tabs .et_pb_tabs_controls a {
  background-color: lightblue;
  text-align: center;
  border-radius: 50%;
}

.fancy-tabs .et_pb_tabs_controls .et_pb_tab_active a {
  background-color: lightcoral;
}

.fancy-tabs .et_pb_tab_content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
}

.fancy-tabs .et_pb_tab_content p {
  /* background-color: lightsalmon; */
  flex-basis: 150px;
  flex-shrink: 0;
  flex-grow: 0;
  height: 75px !important;
  text-align: center;
  display: table;
  padding: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.fancy-tabs .et_pb_tab_content p a {
  display: table-cell;
  vertical-align: middle;
}

/* Old color scheme/text styles */
.fancy-tabs .et_pb_tabs_controls li:nth-of-type(1) {
  background: #f8c05f;
}
.fancy-tabs .et_pb_tab:nth-of-type(1) {
  background: rgba(248, 192, 95, 0.5);
}
.fancy-tabs .et_pb_tabs_controls li:nth-of-type(2) {
  background: #363636;
  color: #fff;
}
.fancy-tabs .et_pb_tabs_controls li:nth-of-type(3) {
  background: #838383;
  color: #fff;
}
.fancy-tabs .et_pb_tabs_controls li:nth-of-type(4) {
  background: #d3695c;
  color: #fff;
}
.fancy-tabs .et_pb_tabs_controls li:nth-of-type(5) {
  background: #ba935c;
}
.fancy-tabs .et_pb_tabs_controls li:nth-of-type(6) {
  background: #82ca9c;
}